body {
  background-color: white;
  /*background-image: url("grid.png"); add later*/
}

/* Navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

li a:hover {
  background-color: #111;
}

/*end navigation bar*/

/*link styling*/

a:link{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

a.body {
  color: black;
}

a.footer {
  color: white;
}

/*homepage*/

.homecolumn {
  float: left;
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Clear floats after the columns on resume page*/
.row:after {
  display: flex;
  flex-direction: row;
  content: "";
  display: table;
  clear: both;
}

/*single column on resume page*/
.singlecolumn {
  float: left;
  font-family: 'Open Sans', sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}

/* Footer */
.footer {
  background-color: #333;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  color: white;
}

.footer.text {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/*flexbox container*/
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.flex-container > div {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  align-items: center;
  width: 400px;
  margin: 10px;
  text-align: left;
}

/*styling images*/

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
